<div class="homepage">
<ul class="cb-slideshow">
	<li><span>Image 01</span><div><h3>春</h3></div></li>
	<li><span>Image 02</span><div><h3>夏</h3></div></li>
	<li><span>Image 03</span><div><h3>秋</h3></div></li>
	<li><span>Image 04</span><div><h3>冬</h3></div></li>
</ul>
<div class="container01">
	<div class="slidesHeader">
		<h1>Chinese 101</h1>
		<h2>Learn Chinese Fun!</h2>
	</div>
	<div id="share" class="bdsharebuttonbox">
		<button class="share-toggle-button"> <i class="share-icon fa fa-share-alt"></i></button>
		<ul class="share-items">
			<li class="share-item">
				<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= url %>" target="_blank" class="share-button fa fa-linkedin"></a>
			</li>
			<li class="share-item">
				<a href="https://plus.google.com/share?url=<%= url %>" target="_blank" class="share-button fa fa-google-plus"></a>
			</li>
			<li class="share-item">
				<a href="http://www.facebook.com/sharer.php?u=<%= url %>" target="_blank" class="share-button fa fa-facebook"></a>
			</li>
			<li class="share-item">
				<a href="https://twitter.com/share?url=<%= url %>;text=<%= url %>;hashtags=greatLearnChineseBlog" target="_blank" class="share-button fa fa-twitter"></a>
			</li>
		</ul>
                <div class="header header1">
                <a herf="/themes/theme-nothing-special/layout/_partial/about.ejs">About US</a>
                </div>
	</div>
	<i class="angle double down icon addi"></i>
</div>
</div>
